:host {
  display: block;
  height: 100vh;
}

.app-layout {
  display: grid;
  height: 100vh;
  grid-template-rows: 52px 1fr 72px;
  grid-template-columns: 1fr 300px;
  grid-template-areas:
    "header header"
    "map sidebar"
    "player player";
  overflow: hidden;
}