:host {
  display: block;
  height: 100vh;
}

.app-layout {
  display: grid;
  height: 100vh;
  grid-template-rows: 76px 1fr;
  grid-template-columns: 1fr 360px;
  grid-template-areas:
    "header header"
    "map    sidebar";
  overflow: hidden;
}