:host {
  grid-area: map;
  display: block;
}

#map {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .leaflet-tile {
  filter:
    invert(1) hue-rotate(215deg) brightness(0.75) contrast(1);
}

// #0d0f17
// #1c1f2e